<<<<<<< HEAD
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
=======
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
>>>>>>> b945e65fc137f6db9717bb2120243867a83a8a16
  